In [1]:
import sys
sys.path.append('C://Users/11max/PycharmProjects/Mapping_ML/')
import ML_mapping

Arguments to initialize object:
- reference_classification: a string with the reference classification name. Choices:
    - openIO-Canada
    - exiobase
    - USEEIO 2.0
    - GTAP 10
    - IOCC
    - NACE Rev.1.1
    - NACE Rev.2
    - CPA 2008
    - CPA 2.1
    - NAPCS 2017
    - NAPCS 2022
    - NAICS 2017
    - NAICS 2022
    - ISIC Rev.4
    - CPC 2.1
    - COICOP 2018
    - ecoinvent 3.8 technosphere
    - ecoinvent 3.9 technosphere
    - ecoinvent 3.8 elementary flows
    - ecoinvent 3.9 elementary flows
    - IMPACT World+ 2.0
    - USEtox 2
    - EF 3.0
    - EF 3.1
- transformer_model: a string with the name of the machine learning model to use for word association. Available models: https://www.sbert.net/docs/pretrained_models.html
- number_of_guessed: an integer giving the number of guesses by the model that will be displayed in the final dataframe

In [2]:
self = ML_mapping.Mapping(reference_classification='exiobase',
                          transformer_model='all-MiniLM-L6-v2',
                          number_of_guesses=5)

Enter a list of words to match to classifications and pass it as an argument to self.match_inputs(). Then calculate similarity scores and format/display results.

In [9]:
self.match_inputs(['ADPE System Configuration','Chocolate','Renting a film'])
self.calculate_scores()
self.format_results()

                                                                            sector  \
product                   order
ADPE System Configuration 1                     Computer and related services (72)
                          2               Post and telecommunication services (64)
                          3                                     White Spirit & SBP
                          4                 Research and development services (73)
                          5                                    Other services (93)
                          6                                Education services (80)
                          7                            Air transport services (62)
                          8                   Health and social work services (85)
                          9                                        Plastics, basic
                          10                             Real estate services (70)
Chocolate                 1                                                  Sugar
                          2                                         Dairy products
                          3                                              Beverages
                          4                                               Gas Coke
                          5                                               Raw milk
                          6                                         Coke Oven Coke
                          7                                               Charcoal
                          8                                Vegetables, fruit, nuts
                          9                                                  Wheat
                          10                                Sugar cane, sugar beet
Renting a film            1      Renting services of machinery and equipment wi...
                          2        Motor vehicles, trailers and semi-trailers (34)
                          3                     Hotel and restaurant services (55)
                          4                              Real estate services (70)
                          5          Private households with employed persons (95)
                          6                                 Construction work (45)
                          7                 Printed matter and recorded media (22)
                          8      Services auxiliary to financial intermediation...
                          9                               Cement, lime and plaster
                          10                     Electricity by solar photovoltaic

                                similarity
product                   order
ADPE System Configuration 1       0.229096
                          2       0.221951
                          3       0.182888
                          4       0.165665
                          5       0.160532
                          6       0.158538
                          7       0.148643
                          8       0.140428
                          9       0.140398
                          10      0.133257
Chocolate                 1       0.575643
                          2       0.491422
                          3       0.483462
                          4       0.455178
                          5       0.449589
                          6       0.448786
                          7        0.43323
                          8       0.425549
                          9       0.406313
                          10      0.403211
Renting a film            1       0.311251
                          2       0.259165
                          3       0.202232
                          4       0.199813
                          5       0.170975
                          6       0.169991
                          7       0.154569
                          8        0.14115
                          9       0.136944
                          10      0.134443